.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  background-color: #fff;
  max-width: 608px;
  width: 100%;
  max-height: 620px;
  /* height: 100%;  */
  z-index: 1;
  margin: auto;
  border-radius: 10px;
}